In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
car = pd.read_csv('car_evaluation.csv')
car.head(5)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [ ]:
car.columns = ['buying','maint','doors','persons','lug_boot','safety','class']

In [ ]:
car.head(5)

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [ ]:
car.shape

(1727, 7)

In [ ]:
car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [ ]:
oe = OrdinalEncoder()
car[['buying','maint','doors','persons','lug_boot','safety','class']] =oe.fit_transform(car[['buying','maint','doors','persons','lug_boot','safety','class']])
car.head()

   buying  maint  doors  persons  lug_boot  safety  class
0     3.0    3.0    0.0      0.0       2.0     2.0    2.0
1     3.0    3.0    0.0      0.0       2.0     0.0    2.0
2     3.0    3.0    0.0      0.0       1.0     1.0    2.0
3     3.0    3.0    0.0      0.0       1.0     2.0    2.0
4     3.0    3.0    0.0      0.0       1.0     0.0    2.0

In [ ]:
car['persons'].value_counts()

1.0    576
2.0    576
0.0    575
Name: persons, dtype: int64

In [ ]:
x = car.drop('class',axis=1)
y = car['class']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
accuracy = rf.score(x_test,y_test)*100
print("Accuracy score : ",accuracy)

Accuracy score :  94.9074074074074

In [ ]:
y_pred = rf.predict(x_test)

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.86      0.93      0.89        97
         1.0       1.00      0.71      0.83        17
         2.0       0.98      0.97      0.97       294
         3.0       1.00      0.96      0.98        24

    accuracy                           0.95       432
   macro avg       0.96      0.89      0.92       432
weighted avg       0.95      0.95      0.95       432